.modal {
    display: flex;
    top: 0;
    bottom: 0;
    left:0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    font-family: 'Inter', arial, sans-serif;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.3s, opacity 0.3s linear;
}

.modal_opened {
    visibility: visible;
    opacity: 1.0;
    transition: visibility 0s, opacity .6s linear;
}

.modal__container {
    background-color: #fff;
    padding: 34px 36px 36px;
    margin:auto;
    border-radius: 10px;
    position: relative;
}

.modal__close {
    background-image: url(../images/Close\ Icon.svg);
    height: 40px;
    width: 40px;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: -45px;
    right: -45px;
}

.modal__close:hover{
    cursor: pointer;
    opacity: 0.8;
}

.modal__heading {
    color: black;
    width: 330px;
    min-height: 23px;
    font-size: 24px;
    font-weight: 900;
    line-height: 29.05px;
    text-align: left;
    margin: 0;
}

.modal__form {
    margin-top: 54px;
    display: flex;
    flex-direction: column;
    width: 358px;
}

.modal__form-confirm {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    width: 358px;
}

.modal__input {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    min-height: 27.26px;
    width: 100%;
}

.modal__input-profile{
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    min-height: 27.26px;
    width: 100%;
}

.modal__input:first-child {
    margin-bottom: 29.74px;
}

.modal__input::placeholder {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    text-align: left;
}

.modal__button {
    min-height: 50.15px;
    border-radius: 2px;
    background-color: black;
    color:#fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    text-align: center;
    margin-top: 48px;
    box-shadow: none;
}

.confirm__button{
    margin-top: 38px;
   
}

.modal__button:hover{
    cursor: pointer;
    opacity: 0.8;
}

.modal__image{
    max-height: 540px;
}

.modal__content_type_image{
    max-width: 75vw;
    max-height: 75vh;
    height: auto;
    width: auto;
    background-color: transparent;
    padding: 0;
    margin: 90px auto;
} 

.modal__image_caption {
    color: #fff;
    margin: 0;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
}

.modal__error_visible {
    font-size: 12px;
    line-height: 15px;
    color: #f00;
    opacity: 1;
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    transition: opacity .3s;
}

.modal__label{
   position: relative;
}

.modal__error{
    position: absolute;
    top: 32px;
}

.modal__input_type_error{
    border: none;
    border-bottom: 1px solid rgb(255, 0, 0);
    min-height: 27.26px;
    width: 100%;
}

.modal__button_disabled{
    background-color: white;
    color:gainsboro;
}

.modal__button_disabled:hover {
    opacity: 1;
    cursor: default;
}

@media screen and (max-width:550px) {
    .modal {
        padding: 0 19px;
    }

   
    .modal__close {
        height: 26px;
        width: 26px;
        right: 10px;
    }

    .modal__form {
        max-width: 358px;
    }
}

@media screen and (max-width:480px) {
    .modal__container{
        padding: 25px 22px 22px;
        max-width: 282px;
    }

    .modal__form {
       max-width: 238px;
    }

    .modal__heading {
        font-size: 18px;
        font-weight: 900;
        line-height: 21.78px;
        text-align: left;
        max-width: 238px;
    }

    .modal__button {
        font-size: 14px;
        font-weight: 400;
        line-height: 16.94px;
        text-align: center;

    }

    .modal__image{
        max-height: 299px;
        max-width: 240px;
        padding: 0;
    }

    .modal__content_type_image{
        padding: 0;
        max-width: 240px;
    }
}

